<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="animal.name" placeholder="Nome do animal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="animal.tutorName" placeholder="Nome do Tutor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="animal.picture" placeholder="Foto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="animal.breed" placeholder="Raça do animal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="animal.address" placeholder="Endereço do animal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="animal.note" placeholder="Obervações"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveAnimal()" expand="block">
      Salvar
    </ion-button>
  </ion-toolbar>
</ion-footer>
