<ion-header>
  <ion-toolbar>
    <ion-title>Veterinário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <br/><br/><br/><br/>
    
    <ion-button routerLink="/home" size="default">
      Cadastrar animal
    </ion-button>
    <ion-button routerLink="#" size="default">
      Agendar atendimento
    </ion-button>
    <ion-button routerLink="#" size="default">
      Preencher ficha de atendimento
    </ion-button>
  
</ion-content>

<ion-footer text-center>
  <ion-toolbar>
    <span>Sistema de Gerenciamento Veterinário</span>
  </ion-toolbar>
</ion-footer>
