<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Animal</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="menu"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!animals.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-item-sliding *ngFor="let animal of animals">
      <ion-item button [routerLink]="['/details', animal.id]">
        <ion-avatar slot="start">
          <img [src]="animal.picture">
        </ion-avatar>

        <ion-label>
          {{ animal.name }}
          <p>{{ animal.breed }}</p>
          <p>{{ animal.address }}</p>
          <p>Tutor(a): {{ animal.tutorName }}</p>
        </ion-label>
        
        <ion-note color="primary" slot="end" *ngIf="animal.note">{{ animal.note }}</ion-note>
      </ion-item>

      <ion-item-options slide="end">
        <ion-item-option color="danger" (click)="deleteAnimal(animal.id)">
          <ion-icon slot="top" name="trash">
            Excluir
          </ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col size="6">
          <ion-button (click)="logout()" color="danger" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/details" expand="block">
            Add animal
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>